#menu__toggle {
  opacity: 0;
  position: fixed;
}
.menu__btn {
  display: flex;
  align-items: center; 
  position: fixed;
  top: 20px;
  left: 20px;  
  width: 26px;
  height: 26px;  
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;  width: 100%;
  height: 2px;  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;  
  width: 300px;
  height: 100%;  
  margin: 0;
 /* padding: 80px 0;  */
  list-style: none;
  text-align: center;  
  background-color: #1e1d1f;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;  
  text-decoration: none;
  color: white;
  border-radius: 3px;
}
.menu__item:hover {
  background-color: #109bc2;
  box-shadow: 0 0 10px #109bc2;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}.menu__box {
  transition-duration: .25s;
}.menu__item {
  transition-duration: .25s;
}